.link_button {
  display: flex;
  width: 200px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid var(--font-color-theme-dark);
  cursor: pointer;
  padding: 0.8em 1em;
  position: relative;
  border-radius: 10px;
  background-color: transparent;
}

.link_button >p {
font-size: var(--small-font-size);
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.link_button:hover:after {
  content: "";
  display: block;
  position: absolute;
  /* z-index: -1; */
  left: -0.41em;
  top: 0.5em;
  width: 0.41em;
  height: 100%;
  width: 100%;
  border-left: 1px #fff solid;
  border-bottom: 1px #fff solid;
  border-radius: 10px;
}


@media screen and (max-width: 600px) {
  .link_button {
    display: flex;
    width: 150px;
   
  }
  .link_button::after {
    content: "";
    display: block;
    position: absolute;
    /* z-index: -1; */
    left: -0.41em;
    top: 0.5em;
    width: 0.41em;
    height: 100%;
    width: 100%;
    border-left: 1px #fff solid;
    border-bottom: 1px #fff solid;
    border-radius: 10px;
  }
}
