.loaderScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #000;
  background-image: url(../../Images/backgroundImage.svg);
  transform: translateX(0vh);
}

.loaderHide {
  display: none;
}

.animate_loader {
  animation: slide-up 2s;
  animation-fill-mode: forwards;
}

.LoaderImageContainer > img {
  background: var(--red-color);
}

.loaderScreen > progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
}

.loaderScreen > progress::-webkit-progress-bar {
  background-color: var(--font-color-theme-light);
}

.loaderScreen > progress::-webkit-progress-value {
  background-color: var(--red-color);
}

.LoaderCounterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  gap: 61px;
}

.LoaderCounterContainer > p {
  color: var(--font-color-theme-dark);
  font-size: var(--big-font-size);
  font-style: italic;
  font-weight: 600;
  line-height: 54px;
  text-transform: uppercase;
}

@keyframes slide-up {
  0% {
    transform: translateX(0vh);
    width: 100%;
  }

  100% {
    transform: translateX(-100vh);
    width: 0%;
  }
}

/* // Main Banner css  */

.mainBannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 120px auto auto auto;
  height: 80vh;
}

.mainBannerTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: calc(var(--big-font-size) * 2);
}

.mainBannerTextUpper,
.mainBannerTextLower {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--banner-font-size);
  width: 100%;
  font-style: normal;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  line-height: 54px;
}

.mainBannerTextUpper > img {
  width: 100%;
  height: calc(var(--big-font-size) * 2);
  object-fit: fill;
}

.mainBannerTextUpper > span {
  position: relative;
  bottom: -80px;
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.2s;
  animation-delay: 5.5s;
  animation-timing-function: cubic-bezier(0.1, 0.46, 0.52, 1.04);
  animation-fill-mode: forwards;
  height: var(--big-font-size);
}

.mainBannerTextLower > span {
  position: relative;
  bottom: -80px;
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 0.2s;
  animation-delay: 5.8s;
  animation-timing-function: cubic-bezier(0.1, 0.46, 0.52, 1.04);
  animation-fill-mode: forwards;
}

.mainBannerTextUpper > span:nth-of-type(2) {
  animation-delay: 5.6s;
}

.mainBannerTextUpper > span:nth-of-type(3) {
  animation-delay: 5.7s;
}

.mainBannerTextUpper > span:nth-of-type(4) {
  animation-delay: 5.8s;
}

.mainBannerTextUpper > span:nth-of-type(5) {
  animation-delay: 5.9s;
}

.mainBannerTextUpper > span:nth-of-type(6) {
  animation-delay: 6s;
}

.mainBannerTextUpper > span:nth-of-type(7) {
  animation-delay: 6.1s;
}

.mainBannerTextLower > span:nth-of-type(2) {
  animation-delay: 5.9s;
}

.mainBannerTextLower > span:nth-of-type(3) {
  animation-delay: 6s;
}

.mainBannerTextLower > span:nth-of-type(4) {
  animation-delay: 6.1s;
}

.mainBannerTextLower > span:nth-of-type(5) {
  animation-delay: 6.2s;
}

.mainBannerTextLower > span:nth-of-type(6) {
  animation-delay: 6.3s;
}

.mainBannerTextLower > span:nth-of-type(7) {
  animation-delay: 6.4s;
}

.mainBannerTextLower > span:nth-of-type(8) {
  animation-delay: 6.5s;
}

@keyframes slide-in {
  0% {
    bottom: -80px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .LoaderCounterContainer {
    gap: 22px;
  }
}
