
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}







.letsTalkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 100%; */
  margin-bottom: var(--padding);
  gap: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 180px 0px;

  position: relative;



  z-index: 0;
  width: 100%;
  height: auto;

  overflow: hidden;

  


}



.letsTalkContainer::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 10% 10%, 10% 10%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#e8e8e8, #4c4c4c), linear-gradient(#e8e8e8, #4c4c4c), linear-gradient(#e8e8e8, #4c4c4c), linear-gradient(#e8e8e8, #4c4c4c);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
.letsTalkContainer::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #000;
  border-radius: 5px;
}



.letsTalkContainer > h4 {
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: normal;
}

.letsTalkContainer > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 287px;
  width: 100%;
  gap: 20px;
}

.letsTalkContainer p {
  font-size: var(--small-font-size);
  text-align: center;
  width: 100%;
  line-height: 24px;
  font-weight: 100;
}



@media screen and (max-width: 600px) {
  .letsTalkContainer {
    padding: 90px 0px;
  }
  .letsTalkContainer > h4 {
    width: max-content;
    line-height: normal;
  }
  .letsTalkContainer > p {
    text-align: center;
  }
  .letsTalkContainer > a {
    width: max-content;
  }
}






