.letsTalkContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: var(--padding) 0px;
  gap: calc(var(--big-font-size) / 2);
  gap: 300px;
}

.letsTalkContainer > h4 {
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: normal;
  max-width: 385px;
}

.letsTalkContainer > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 287px;
  width: 100%;
  gap: 20px;
}

.letsTalkContainer p {
  font-size: var(--normal-font-size);
  text-align: left;
  width: 100%;
  line-height: 24px;
}

.letsTalkContainer a {
  /* background: var(--red-color); */
  width: 80%;
  height: 56px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .letsTalkContainer {
    align-items: flex-start;
    width: 100%;
  }
  .letsTalkContainer > h4 {
    width: 100px;
    line-height: 75px;
  }
  .letsTalkContainer > p {
    text-align: left;
  }
  .letsTalkContainer > a {
    width: 100%;
    max-width: 100%;
  }
}
