.letsTalkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--padding);
  gap: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 180px 0px;
}

.letsTalkContainer > h4 {
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: normal;
}

.letsTalkContainer > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 287px;
  width: 100%;
  gap: 20px;
}

.letsTalkContainer p {
  font-size: var(--small-font-size);
  text-align: center;
  width: 100%;
  line-height: 24px;
}

/* .letsTalkContainer a {

  width: 80%;
  height: 56px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media screen and (max-width: 600px) {
  .letsTalkContainer {
   padding: 90px 0px;
  }
  .letsTalkContainer > h4 {
    width: max-content;
    line-height: normal;
  }
  .letsTalkContainer > p {
    text-align: center;
  }
  .letsTalkContainer > a {
    width: max-content;
    
  }
}
