@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tan-Pearl";
  src: url("../public/fonts/TAN-PEARL.ttf");
}
* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --big-font-size: 140px;
  --medium-font-size: 40px;
  --normal-font-size: 24px;
  --special-thanks: 20px;
  --small-font-size: 16px;
  --smallest-font: 14px;
  --font-color-theme-dark: #f0f0f0;
  --font-color-theme-light: #000;
  --filer-color: #6b6b6b;
  --red-color: #f42513;
  --padding: 228px;
}
.app_container {
  padding: 0px 80px;
}

body {
  background-color: #0b0b0b;
  background-image: url(../Images//Rectangle.svg);

  color: var(--font-color-theme-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: "Tan-Pearl";
}
.app_container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-top: 44px;
  width: 100%;
}

@media screen and (max-width: 1600px) and (min-width: 1248px) {
  :root {
    --big-font-size: 120px;
    --medium-font-size: 40px;
    --normal-font-size: 24px;
    --special-thanks: 20px;
    --small-font-size: 16.400px;
    --smallest-font: 14px;
    --padding: 228px;
  }
  .app_container {
    padding: 0px 80px;
  }
}

@media screen and (max-width: 1248px) and (min-width: 900px) {
  :root {
    --big-font-size: 100px;
    --medium-font-size: 30px;
    --normal-font-size: 16px;
    --special-thanks: 14px;
    --small-font-size: 12px;
    --smallest-font: 10px;
    --padding: 158px;
  }
  .app_container {
    padding: 0px 80px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  :root {
    --big-font-size: 100px;
    --medium-font-size: 30px;
    --normal-font-size: 16px;
    --special-thanks: 14px;
    --small-font-size: 14px;
    --smallest-font: 10px;
    --padding: 158px;
  }
  .app_container {
    padding: 0px 80px;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
  :root {
    --normal-font-size: 12px;
    --big-font-size: 40px;
    --medium-font-size: 24px;
    --small-font-size: 14px;
    --smallest-font: 12px;
    --special-thanks: 14px;
    --padding: 140px;
  }
  .app_container {
    padding: 0px 20px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --normal-font-size: 12px;
    --big-font-size: 40px;
    --medium-font-size: 24px;
    --small-font-size: 14px;
    --smallest-font: 12px;
    --special-thanks: 14px;
    --padding: 140px;
  }
  .app_container {
    padding: 0px 20px;
    margin-top: 0px;
  }
}

.progressMainWrapper {
  background-color: black;
  height: 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progressMainStyle {
  height: 4px;
  background: #fff;
  width: 15%;
}
