.marquee_section_container_desktop {
  width: 99vw;
  padding-bottom: var(--padding);
}

.marque_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.marque_container > a {
  color: var(--font-color-theme-dark);
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
}

.line1 {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
}

.marquee_text_wrapper_1,
.marquee_text_wrapper_3 {
  display: flex;
  animation: marquee 14s linear infinite;
  white-space: nowrap;
}

.marquee_text_wrapper_2 {
  display: flex;
  animation: marquee-right 25s linear infinite;
  white-space: nowrap;
}

.marquee_text_wrapper_1 > p,
.marquee_text_wrapper_2 > p,
.marquee_text_wrapper_3 > p {
  color: #F0F0F0;
  font-size: var(--medium-font-size);
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}






@media screen and (max-width: 608px) {
  /* .marquee_section_container_desktop {
    display: none;
  } */

  .marque_container > a {
    color: var(--font-color-theme-dark);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
  }



  .marquee_section_container_desktop {
    display: flex;
    flex-direction: column;
    margin: 0px 0;
  }

  .marquee_text_wrapper_1,
  .marquee_text_wrapper_3 {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow-x: hidden;
  }

  .marquee_text_mob {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 18s linear infinite;
    /* border: 2px solid blue; */
  }

  .marquee_text_2_mob {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 18s linear infinite;
    /* border: 2px solid blue; */
  }

  .marquee_text-mob,
  .marquee_text-2-mob {
    font-size: 46px;
    font-family: var(--playfair-text);
  }

  .marquee_text_mob > span > span:hover,
  .marquee_text_2_mob > span > span:hover {
    color: #ff1000;
    font-style: italic;
    font-family: var(--playfair-text);
  }

  .marquee_text_mob > span > span,
  .marquee_text_2_mob > span > span {
    color: #ddd5c9;
  }
}
