.IntroContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: flex-start;
  margin: auto;
  padding-bottom: var(--padding);
  flex-direction: column;
}

.IntroContainer > a {
  color: var(--font-color-theme-dark);
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 60px;
}

.IntroContainerHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  width: 100%;
}
.IntroContainerHeader > p {
  color: var(--font-color-theme-dark);
  font-size: var(--medium-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  width: 50%;
  max-width: 620px;
}

.IntroContainerHeader span {
  color: hsl(0 0% 100% /0.2);
  background-clip: text;
  background-image: linear-gradient(90deg, var(--font-color-theme-dark), var(--font-color-theme-dark));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range: contain;
}

.IntroContainerHeader > p > span {
  animation-range-start: cover 15vh;
  animation-range-end: cover 75vh;
}

.IntroContainerAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 328px;
  width: 50%;
  gap: var(--medium-font-size);
}
.IntroContainerAbout > p:first-child span{
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: 20px; /* 142.857% */
  animation-range-start: cover 15vh;
  animation-range-end: cover 40vh;
}

.IntroContainerAbout > p:last-child span{
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 150% */
  animation-range-start: cover 20vh;
  animation-range-end: cover 54.5vh;
}

.IntroContainerImage {
  width: 50%;
  aspect-ratio: 581/727;
}

.IntroContainerText {
  width: 50%;
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}


@media screen and (max-width: 600px) {
  .IntroContainer {
    flex-direction: column;
  }
  .IntroContainerImage {
    width: 100%;
  }
  .IntroContainerText {
    width: 100%;
    align-items: normal;
  }

  .IntroContainerHeader {
    display: block;
  }

  .IntroContainerHeader > p {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 40px; /* 166.667% */
  }

  .IntroContainerAbout {
    max-width: 100%;
    width: 100%;
  }

  .IntroContainerAbout > p {
    width: 100%;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .IntroContainerHeader span {
    color: hsl(0 0% 100% /0.2);
    background-clip: text;
    background-image: linear-gradient(90deg, var(--font-color-theme-dark), var(--font-color-theme-dark));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range: contain;
  }
  
  .IntroContainerHeader > p > span {
    animation-range-start: cover 15vh;
    animation-range-end: cover 75vh;
  }
  .IntroContainerAbout > p:first-child span{
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 200;
    line-height: 20px; /* 142.857% */
    animation-range-start: cover 44.5vh;
    animation-range-end: cover 80vh;
  }
  
  .IntroContainerAbout > p:last-child span{
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 200;
    line-height: 24px; /* 150% */
    animation-range-start: cover 65vh;
    animation-range-end: cover 80vh;
  }
}


@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}