.IntroContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: flex-start;
  margin: auto;
  padding-bottom: var(--padding);
  flex-direction: column;
}

.IntroContainer > a {
  color: var(--font-color-theme-dark);
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 60px;
}

.IntroContainerHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  width: 100%;
}
.IntroContainerHeader > p {
  color: var(--font-color-theme-dark);
  font-size: var(--medium-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50%;
  max-width: 620px;
}

.IntroContainerAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 328px;
  width: 50%;
  gap: var(--medium-font-size);
}
.IntroContainerAbout > p:first-child {
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.IntroContainerAbout > p:last-child {
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.IntroContainerImage {
  width: 50%;
  aspect-ratio: 581/727;
}

.IntroContainerText {
  width: 50%;
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}
.IntroContainerAbout {
}

@media screen and (max-width: 600px) {
  .IntroContainer {
    flex-direction: column;
  }
  .IntroContainerImage {
    width: 100%;
  }
  .IntroContainerText {
    width: 100%;
    align-items: normal;
  }

  .IntroContainerHeader {
    display: block;
  }

  .IntroContainerHeader > p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 40px; /* 166.667% */
  }

  .IntroContainerAbout > p {
    width: 100%;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
