.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}



.footerLineSeparate {
  display: flex;
  width: 100%;
  height: 0.5px;
  background-color: #6b6b6b;
}

.footerContainerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 40px 80px;
  gap: calc(var(--big-font-size) / 2);
}

.footerContainerTop > a {
  font-size: var(--smallest-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.footerContainerMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px calc(var(--big-font-size) * 2);
}

.footerContainerMiddle > p {
  font-size: var(--special-thanks);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerContainerMiddle > p > span {
  font-weight: 600;
  font-style: italic;
}

.footerContainerBottom {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 40px 80px;
}
.footerContainerBottom > p {
  color: var(--filer-color);
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .footerContainerBottom,
  .footerContainerMiddle,
  .footerContainerTop {
    padding: 20px;
  }
  /* .footerContainerBottom > p {
    font-size: calc(var(--normal-font-size) - 2px);
  } */
}
