.container {
  display: flex;
  position: relative;
  align-items:center;
  width: 74px;
  align-self: flex-end;
}

.circular_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: -5%;
}
