@media screen and (min-width: 600px) {
  .clientContainerMobile {
    display: none;
  }
  .clientContainer {
    display: flex;
    width: 90%;
    background-color: transparent;
    align-items: flex-start;
    margin: auto;
    flex-direction: column;
    gap: calc(var(--normal-font-size) * 12);
    margin: auto;
    padding: calc(var(--normal-font-size) * 7) 0px;
  }

  .singleClient {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: calc(var(--normal-font-size) * 6);
  }

  .singleClientText {
    display: flex;
    align-items: flex-start;

    gap: 20px;
    flex-direction: column;
  }

  .singleClientText > div {
    color: var(--font-color-theme-dark);
    font-size: var(--normal-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .singleClientText > h4 {
    margin-bottom: 20px;
    color: var(--font-color-theme-dark);
    font-size: var(--big-font-size);
    font-style: italic;
    font-weight: 400;
    line-height: 64px;
  }

  .singleClientTextContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }

  .singleClientImage {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    max-width: 569px;
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .clientContainer {
    display: none;
  }
  .clientContainerMobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .work_count_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .work_count_mobile > p {
    color: var(--font-color-theme-dark);
    font-size: var(--normal-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .carousalContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns:90%;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding: 10px 0px;
  }

  .singleClientMobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    scroll-snap-align: start;
    align-items: center;
    justify-content: flex-start;
    position: relative;

  }

  .singleClientTextMobile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }

  .singleClientTextMobile > h4 {
    color: var(--font-color-theme-dark);
    font-size: var(--big-font-size);
    font-style: italic;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
  }

  .singleClientImageMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .singleClientTextContainerMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .singleClientTextContainerMobile > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .singleClientTextContainerMobile > div  > p{
    color: var(--font-color-theme-dark);

    font-size: var(--normal-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
