.serviceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding-bottom: var(--padding);
  overflow: hidden;
}

.serviceContainerHeader {
  display: flex;
  width: 100%;
}

.serviceContainerHeader > a {
  color: var(--font-color-theme-dark);
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.serviceContainerData {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

.serviceContainerData > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 60px;
}

.serviceContainerData > div > p {
  color: var(--font-color-theme-dark);

  font-size: var(--medium-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

/* .serviceContainerData>p:nth-child(3){
    border: 2px solid red;
    width: max-content;
 
} */


@media screen and (max-width: 600px) {
  .serviceContainerData > div > p {
    font-size: 24px !important;
  }
}